<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default suite">

	<test verbose="2" name="Default test">

		<classes>
			<class name="com.epam.ta.library.controller.ControllerTest"></class> 
			<class name="com.epam.ta.library.controller.ControllerTestAddBookDescription"></class>
			<class name="com.epam.ta.library.controller.ControllerTestActivateUser"></class>
			<class name="com.epam.ta.library.controller.ControllerTestBanUser"></class>
			<class name="com.epam.ta.library.controller.ControllerTestDisableBook"></class>
			<class name="com.epam.ta.library.controller.ControllerTestEditBookInfo"></class>
			<class name="com.epam.ta.library.controller.ControllerTestEditProfile"></class>
			<class name="com.epam.ta.library.controller.ControllerTestSignIn"></class>
		</classes>

	</test>
</suite>

